@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Lexend+Deca&display=swap");
* {
  font-family: "Lato", sans-serif;
}

.banner-bg {
  background: rgba(5, 56, 150, 0.3);
}

.contato-modal .form-topo {
  text-align: center;
  background-color: #053896;
  color: white;
  padding: 15px;
  border-radius: 1em 1em 0 0;
}

.contato-modal .form-topo h4 {
  font-size: 1.5em;
}

.contato-modal .form-topo h3 {
  font-size: 2em;
  font-weight: bold;
}

.contato-modal .radio {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 20px;
  width: 49%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  padding-top: 4px;
  margin-top: 10px;
}

.contato-modal .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contato-modal .checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-color: #ff7300;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.contato-modal .radio input:checked ~ .checkround {
  background-color: transparent;
}

.contato-modal .checkround:after {
  content: "";
  position: absolute;
  display: none;
}

.contato-modal .radio input:checked ~ .checkround:after {
  display: block;
}

.contato-modal .radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff7300;
}

.contato-modal .formulario h2 {
  font-size: 1.75rem;
  line-height: 1;
  color: #ff7300;
  text-align: center;
  margin-bottom: 35px;
}

.contato-modal .formulario {
  background: #e7e7e7;
  padding: 35px;
  border-radius: 0 0 5px 5px;
}

.contato-modal .btn-mpi {
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: inherit;
  padding: 11px;
  background: #ff6602;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #bb4a00;
}

.contato-modal .formulario-mpi input[type="text"],
.contato-modal .formulario-mpi select,
.contato-modal .formulario-mpi input[type="tel"],
.contato-modal .formulario-mpi input[type="date"],
.contato-modal .formulario-mpi input[type="password"],
.contato-modal .formulario-mpi input[type="email"],
.contato-modal .formulario-mpi input[type="password"],
.contato-modal .formulario-mpi select,
.contato-modal .formulario-mpi textarea {
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 4px;
}

.navbar-light .navbar-toggler {
  border: 0px;
}

.scrolltop {
  border-radius: 100%;
  padding-top: 14px;
  position: absolute;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  margin-top: -26px;
}

.owl-dots {
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: #408ea0;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 100%;
  opacity: 0.5;
}

.owl-dot.active span,
.owl-dot:hover span {
  opacity: 1;
}

.logo-ans-topo {
  max-width: 120px;
  width: 100%;
}

a {
  color: #053896;
}

.fomulario {
  position: relative;
  top: 0;
}

.txt-laranja {
  color: #ff7300;
}

a:hover {
  color: #053896;
  text-decoration: none;
}

a:focus {
  outline: 0px;
}

h1,
.h1 {
  font-size: 2rem;
  color: #053896;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

h2,
.h2 {
  font-size: 1.5rem;
  color: #053896;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

h3,
.h3 {
  font-size: 1.25rem;
  font-family: "Lexend Deca", sans-serif;
}

h4,
.h4 {
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
}

h5,
.h5 {
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
}

h6,
.h6 {
  font-size: 0.5rem;
  font-family: "Lexend Deca", sans-serif;
}

.dropdown:hover > .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.fone::before {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  display: inline-block;
  font-weight: 900;
  margin-right: 5px;
}

a.whats::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f232";
  display: inline-block;
  font-weight: 400;
  margin-right: 5px;
}

a.mail::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  display: inline-block;
  font-weight: 900;
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

.btn.btn-primary {
  background: #053896;
  border-color: #053896;
}

.bg-primary-color {
  background-color: #053896;
}

h1.text-primary-color {
  color: #053896;
}

h2.text-primary-color {
  color: #053896;
}

h3.text-primary-color {
  color: #053896;
}

h4.text-primary-color {
  color: #053896;
}

i.text-primary-color {
  color: #053896;
}

.border-primary-color {
  border-color: #053896;
}

/*TAGS PADRÃO*/
.menu-text {
  color: #fff !important;
  padding: 1.7rem 0.5rem;
  font-size: calc(9px + 0.4vw);
}

.menu-text:hover {
  background: #074ac7;
}

.btn-area {
  /*! background: #ffffff; */
  padding: 1.7rem 15px !important;
  /*! border-left: 1px solid #eaeaea; */
}

.btn-area-azul {
  color: #fff !important;
  /*! background: $corprincipal; */
  padding: 1.7rem 15px !important;
}

.btn-area-azul:hover {
  /*! background: #ce6609 */
}

.dropdown-item {
  color: #fff;
  font-size: calc(1.5vh + 0.1rem);
}

.dropdown-item:hover {
  color: #fff;
  background-color: #074ac7;
}

header {
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.34);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.34);
  background: #053896;
  background: -webkit-gradient(linear, left top, right top, from(#053896), to(#031c4c));
  background: linear-gradient(90deg, #053896 0%, #031c4c 100%);
}

.info-header {
  background: #053896;
  color: white;
  padding: 5px 0;
}

.info-header a {
  color: #fff;
  margin: 0 5px;
}

.navbar-brand > img {
  width: 100%;
  max-width: 180px;
}

.gallery {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

.lightbox {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial .card .testimonial-info {
  text-align: right;
}

.testimonial .card .icon {
  color: #053896;
  font-size: 2rem;
  margin-right: 10px;
}

.section-2-bg {
  background: -webkit-gradient(linear, left top, right top, from(rgba(5, 56, 150, 0.4)), to(rgba(5, 56, 150, 0.3)));
  background: linear-gradient(90deg, rgba(5, 56, 150, 0.4) 0%, rgba(5, 56, 150, 0.3) 100%);
}

.testimonial .card {
  border: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.testimonial .card .testimonial-info h2,
.testimonial .card .testimonial-info h3,
.testimonial .card .testimonial-info h4,
.testimonial .card .testimonial-info h5,
.testimonial .card .testimonial-info h6 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  font-size: 1rem;
}

.testimonial .card .testimonial-info p {
  font-size: 0.7rem;
  color: #999;
  margin-bottom: 0;
}

.testimonial .card .testimonial-info .avatar {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.testimonial .underline {
  position: relative;
}

.testimonial .underline:after {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  top: calc(100% + 5px);
  background: red;
}

.testimonial .slider {
  width: 100%;
  margin: 100px auto;
}

.testimonial .slick-slide {
  margin: 0px 10px;
}

.testimonial .slick-slide img {
  width: 100%;
}

.testimonial .slick-prev:before,
.testimonial .slick-next:before {
  color: black;
}

.testimonial .slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.testimonial .slick-active {
  opacity: 0.5;
}

.testimonial .slick-current {
  opacity: 1;
}

.testimonial .slick-prev {
  left: 0;
  z-index: 9999;
}

.testimonial .slick-next {
  right: 0;
  z-index: 9999;
}

.card-circle-icon img {
  width: 90px;
}

.card-circle-icon h2 {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card-circle-icon p {
  color: #555;
  font-size: 16px;
  text-align: center;
}

.slick-dots li button:before {
  font-size: 20px !important;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #053896;
}

.slick-dots li button:before {
  opacity: 0.1 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.breadcrumb {
  background: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.breadcrumb a {
  color: #fff;
}

.breadcrumb-item.active {
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs {
  background-color: #303030 !important;
  padding: 14px 40px;
  padding-bottom: 0;
  color: white;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 1px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand .h2 {
  margin: 0px 0px 10px;
  color: #fff;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-brand address {
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-brand a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: -1rem;
}

.footer-bs .footer-nav .pages li {
  margin-right: 10px;
}

.logo-footer {
  width: 200px;
}

.text-little {
  font-size: 14px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-nav h2 {
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social ul li {
  padding: 5px 0px;
}

.footer-bs .footer-social h2 {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.whats-desk {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 2000;
  cursor: pointer;
  outline: none !important;
}

.whats-mobile {
  display: none;
}

/*FOOTER*/
/*COPYRIGHT*/
.copyright-footer {
  text-align: left;
  font-size: 10px;
  color: #eee;
  background-color: #303030 !important;
  padding-top: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.copyright-footer .selos {
  /* float: right; */
}

.copyright-footer .selos strong {
  background: #fff;
  color: #363b36;
  padding: 0px 5px;
}

.copyright-footer .selos a {
  margin: 0 0 0 5px;
  color: #b7b7b7;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.copyright-footer .selos a:hover {
  opacity: 1;
}

.contact-form a {
  color: #212529;
}

.contact-form {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #dee2e6, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(#dee2e6), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #dee2e6, rgba(0, 0, 0, 0)) 1 100%;
}

.button-slider {
  padding: 10px 40px;
  background-color: #ff7300;
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-slider:hover {
  background-color: #d66100;
  color: #ccc;
}

.card {
  border: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
}

.card-footer {
  background: #053896;
}

.card-footer h2 {
  color: #fff;
  font-size: 0.9rem !important;
}

.card:hover img {
  opacity: 0.5;
}

#carousel,
#carousel .carousel-inner,
#carousel .carousel-inner .carousel-item {
  height: 65vh;
}

#carousel h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 1px 1px 2px #000000;
}

#carousel p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000000;
}

.carousel-inner .one {
  background: url(../img/s1.jpg) no-repeat center center;
  background-size: cover;
}

.carousel-inner .two {
  background: url(../img/s2.jpg) no-repeat center center;
  background-size: cover;
}

.carousel-inner .three {
  background: url(../img/s3.jpg) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  .contato-modal .formulario h2 {
    font-size: 1.5rem;
  }
  .carousel-inner .one {
    background: url(../img/s1.jpg) no-repeat center center;
    background-size: cover;
  }
  .carousel-inner .two {
    background: url(../img/s2.jpg) no-repeat center center;
    background-size: cover;
  }
  .carousel-inner .three {
    background: url(../img/s3.jpg) no-repeat center center;
    background-size: cover;
  }
  #carousel h2 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
  }
  #carousel p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
  }
}

[data-anime] {
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

[data-anime="left"] {
  -webkit-transform: translate3d(-50px, 0px, 0px);
          transform: translate3d(-50px, 0px, 0px);
}

[data-anime="in"] {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

[data-anime="right"] {
  -webkit-transform: translate3d(50px, 0px, 0px);
          transform: translate3d(50px, 0px, 0px);
}

[data-anime="up"] {
  -webkit-transform: translate3d(0px, 70px, 0px);
          transform: translate3d(0px, 70px, 0px);
}

[data-anime="down"] {
  -webkit-transform: translate3d(0px, -70px, 0px);
          transform: translate3d(0px, -70px, 0px);
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

/*fade2*/
[data-anime2] {
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

[data-anime2="left"] {
  -webkit-transform: translate3d(-50px, 0px, 0px);
          transform: translate3d(-50px, 0px, 0px);
}

[data-anime2="in"] {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

[data-anime2="right"] {
  -webkit-transform: translate3d(50px, 0px, 0px);
          transform: translate3d(50px, 0px, 0px);
}

[data-anime2="up"] {
  -webkit-transform: translate3d(0px, 70px, 0px);
          transform: translate3d(0px, 70px, 0px);
}

[data-anime2="down"] {
  -webkit-transform: translate3d(0px, -70px, 0px);
          transform: translate3d(0px, -70px, 0px);
}

[data-anime2].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

/*fade3*/
[data-anime3] {
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

[data-anime3="left"] {
  -webkit-transform: translate3d(-50px, 0px, 0px);
          transform: translate3d(-50px, 0px, 0px);
}

[data-anime3="in"] {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

[data-anime3="right"] {
  -webkit-transform: translate3d(50px, 0px, 0px);
          transform: translate3d(50px, 0px, 0px);
}

[data-anime3="up"] {
  -webkit-transform: translate3d(0px, 70px, 0px);
          transform: translate3d(0px, 70px, 0px);
}

[data-anime3="down"] {
  -webkit-transform: translate3d(0px, -70px, 0px);
          transform: translate3d(0px, -70px, 0px);
}

[data-anime3].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.list-group-item.aside-title {
  background: #053896;
}

.list-group-item.aside-title h2 {
  color: #fff;
  font-size: 1rem;
}

aside a.active-menu-aside {
  font-weight: bold;
}

aside .aside-contact {
  font-size: 0.75rem;
  background: #053896;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

aside .aside-phone {
  background: #fcfcfc;
  padding: 0.75rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.regioes .nav-tabs .nav-link {
  color: #666;
  font-size: 0.75rem;
}

.regioes ul li {
  float: left;
  width: 20%;
  font-size: 0.75rem;
  color: #666;
}

.related-posting {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px #fff;
          box-shadow: 2px 2px 2px #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.related-posting:hover {
  -webkit-box-shadow: 2px 2px 2px #eee;
          box-shadow: 2px 2px 2px #eee;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.related-posting img {
  height: 100%;
  width: 100%;
}

.related-posting .card-body {
  padding: 0;
}

.sitemap .drop {
  padding-left: 40px;
}

.whats-desk {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 2000;
  cursor: pointer;
  outline: none !important;
}

.whats-mobile {
  display: none;
}

.navbar-expand-md .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-expand-md .dropdown .dropdown-menu {
  position: absolute;
  top: 74px;
  right: 0px;
  margin: 0;
  max-height: 65vh;
  height: auto;
  width: auto;
  background: #053896;
  overflow: auto;
  left: -30vw;
  z-index: 16;
  min-width: 850px;
}

.navbar-expand-md .dropdown .dropdown-menu .meio {
  width: 50% !important;
}

.lateral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.categoria-text a {
  color: #053896;
}

.categoria-text {
  background-color: #f2f2f2;
  height: 36px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.lateral nav {
  list-style: none;
  max-height: 100vh;
  overflow: auto;
  width: 267px;
  border-bottom: 1px solid #eee;
}

.lateral nav ul {
  padding-left: 0;
}

.lateral nav ul a {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px;
  border-left: 4px solid #e3e3e3;
  margin: 0 0 5px 0;
  color: #333 !important;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  white-space: normal !important;
}

.lateral nav ul a:hover {
  border-left: 4px solid #053896;
  background-color: #053896;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

article h1,
article h2 {
  font-size: 1.5rem;
  color: #053896;
  margin-bottom: 15px;
  margin-top: 40px;
}

article p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

article ul {
  list-style: initial;
}

.precos-plano {
  background-color: #e4e4e4;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center;
  -webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lista-plano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.precos-plano ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carencia {
  font-weight: 600;
  font-size: 0.85em;
}

.preco-pl {
  font-size: 3em;
  color: #053896;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.lista-plano li {
  font-size: 0.8em;
  color: #868686;
  margin: 5px;
}

.tp-pagamento {
  font-size: 0.7em;
}

.btn-azul {
  background: #053896;
}

.btn-azul:hover {
  background: #ce6609;
}

.mensais {
  font-size: 15px;
  color: #333;
  position: relative;
  bottom: -21px;
  right: 55px;
  font-weight: 600;
}

.precos-plano:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.5);
}

.tooltip2 {
  background: #4caf50;
  color: #fff;
  padding: 0px 5px 2px;
  opacity: 0;
  width: 50px;
}

.precos-plano:hover .tooltip2 {
  opacity: 1;
}

.active-plano {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
}

.active-plano:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.pagamento {
  background: #303030;
  padding: 25px 10px;
}

.pagamento,
.pagamento .h1,
.footer-email {
  color: #ffffff;
}

.footer-tel {
  font-size: 2rem;
  font-weight: bold;
}

.text-white {
  color: #fff !important;
}

.footer-email {
  font-size: 1.23rem;
}

.text-white {
  color: #fff !important;
}

.fundo-cobertura {
  background: -webkit-gradient(linear, left top, left bottom, from(#053896), to(#021333));
  background: linear-gradient(to bottom, #053896 0%, #021333 100%);
  padding: 50px 0;
}

.cobertura img {
  width: 50px;
  padding: 0 5px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 576px) {
  header a.fone::before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    display: inline-block;
    font-weight: 900;
    margin-right: 0px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    width: 58px;
  }
  header a.whats::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f232";
    display: inline-block;
    font-weight: 400;
    margin-right: 0px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    width: 58px;
  }
  header a.mail::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    display: inline-block;
    font-weight: 900;
    margin-right: 0px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    width: 58px;
  }
  footer a {
    margin: 20px 0;
  }
  footer .footer-nav .col-md-12 {
    padding: 0;
  }
  footer .footer-nav .pages li {
    margin: 0.75rem 0;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer-bs .footer-nav ul.pages li {
    padding: 0.5rem 0.75rem;
  }
  footer .footer-social .col-md-12 {
    padding: 0;
  }
  footer .footer-social ul li {
    margin: 0.75rem 0;
    background: #343434;
  }
  .footer-bs .footer-social ul li {
    padding: 0.5rem 0.75rem;
  }
  .contact-form.pl-5 {
    padding: 15px !important;
  }
  .contact-form.pr-5 {
    padding: 15px !important;
  }
  .contact-form.border-right {
    border-right: 0 !important;
    border-right: 0 !important;
  }
  .regioes ul li {
    float: none;
    display: block;
    width: 100%;
  }
  .regioes ul {
    max-height: 200px;
    overflow-y: scroll;
    padding: 15px;
  }
  .related-posting .card-body {
    padding: 1.25rem;
  }
  .copyright-footer .selos {
    float: none;
    display: block;
    text-align: center;
  }
  .copyright-footer .selos a {
    display: block;
    margin: 10px 0px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.1);
  }
  .whats-desk {
    display: none !important;
  }
  .whats-mobile {
    display: inline-block !important;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 2000;
    cursor: pointer;
    outline: none !important;
  }
  .whats-mobile img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sticky-top {
    position: relative !important;
  }
  .menu-text {
    padding: 0.5rem 0.6rem;
    font-size: 15px;
  }
  .active-plano {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .btn-area {
    /*! background:#ddd; */
  }
  .btn-area,
  .btn-area-azul {
    padding: 0.5rem 0.6rem !important;
    border-left: 0px;
    width: 100%;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    display: block;
    position: initial;
    margin: 0;
    height: auto;
    min-width: 100%;
    z-index: 1;
    background: transparent;
    left: -333%;
    border: 0px;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu .meio {
    width: 100% !important;
  }
  .dropdown-item {
    padding: 4px 10px;
    color: #fff !important;
    font-weight: 400;
    white-space: normal !important;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 5px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #053896 0%, #053896 50%, #053896 51%, #053896 100%);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#searchtable h2 {
  font-size: 1.3rem;
  margin-top: 15px;
}

.titulo-plano {
  font-size: 2rem;
  font-weight: bold;
}

.titulo-cobertura {
  font-size: 1.3rem;
  font-weight: bold;
  color: #053896;
}

.preco {
  font-size: 1.5rem;
}

.preco-grande {
  font-size: 2rem;
}

.txt-azul {
  color: #053896;
}

.span-economize {
  color: white;
  background-color: #053896;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  margin-left: 1em;
}

.carencias-link {
  text-decoration: underline;
  color: #212529;
  margin-top: 0;
}

.planos-mpi p {
  margin-bottom: 0.5em;
}

.coberturas-div {
  background-color: #e3e3e3;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  color: white;
}

.footer a,
.footer a:hover {
  color: #fff;
}

ul.pages {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2em;
}

@media only screen and (max-width: 768px) {
  ul.pages {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  ul.pages li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ffffff1f;
    margin-bottom: 0.5em;
  }
  ul.pages a {
    width: 100%;
  }
  .d-none-mobile {
    display: none;
  }
  .d-none-desk {
    display: block !important;
  }
  nav div.mr-5 {
    margin: 0 !important;
  }
  ul.navbar-nav {
    text-align: left !important;
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
}

.logos-social img {
  height: 2.2em;
}

.d-none-desk {
  display: none;
}

.sitemap .menu-text {
  color: #333 !important;
  padding: 3px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.sitemap .dropdown-item {
  color: #333 !important;
}

.sitemap .menu-text:hover {
  background: none !important;
}

.card-img-top {
  -o-object-fit: none;
     object-fit: none;
}

.pginterna-banner {
  padding: 40px 0px;
  background: #074ac7;
}
/*# sourceMappingURL=style.css.map */